body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ADD8E6;
}

#banner {
    width: 100%;
    margin: 100px auto;
}

h1 {
    text-align:center;

p {
    margin: 20px 0;
}
#titulo {
    text-align: center;
}

.texto {
    color: #181661;
    text-align: center;
    }
